*{
    padding: 0px;
    margin: 0px;


}

body{
    background-color: rgb(39, 38, 38);
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

/* hero design */
.hero{
    padding:2%;
    background-image: url("./img/pexels-felix-mittermeier-956999.jpg");
    background-size: cover;
    height: 200px;
    
    
    

}
a{
    padding: 2%;
    align-items: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}
#head{
    font-size: 300%;
    text-align: center;
    color: white;
    margin: 60px 50px;
    font-size: 100px;
    text-shadow: 6px 6px 6px black;

    
}

.menuList{
    margin-left: 60%;
    
}

.button{
    width: 150px;
    height: 40px;
    border-color: white;
    color: white;
    border: inset 2px;
    border-radius: 50px;
    cursor: pointer;
    background-color: transparent;
}

.blogspanel{
position: relative;
background-color: rgb(19, 0, 42);
padding: 50px;

}


.imgarrange{
    border: solid 5px;
    border-color: yellow;
    border-radius: 50px;
    overflow: hidden;
    
    
    
   
}

.blogs{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: rgb(186, 186, 186);
    background-color: rgb(26, 8, 42);
    
    padding: 20px;
    border-style: solid ;
    border-color: yellow;
    border-width: 1px 1px;
    border-radius: 30px;
   
}


    

img{
    
    width:100%;
}





.readmorebtn{
    
    background-color: rgb(45,45,45);
    
}



.arrange{
    display: flex;
    flex-direction: column;
}


a:hover{
    color: yellow;
    
}
.button:hover{
    border-color: yellow;
    color: yellow;
}




.footer{
    display: flexbox;
    position: relative;
    text-align: center;
    background-color: rgb(19, 0, 42);
    color: white;
    box-shadow: inset 6px -5px 60px black;
    padding: 50px;

}



